{% extends "base.html" %}

{% block content %}
<div class="user-profile">
    <p><strong>Username: {{ user.username }}</strong></p>
    <p><strong>First name:</strong> {{ user.first_name }}</p>
    <p><strong>Last name:</strong> {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>

    <div class="button-group">
        <a href="{% url 'user-update' %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'user-delete' %}" class="btn btn-danger">Delete</a>
    </div>
</div>
{% endblock %}
