<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if newspapers.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">First</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ newspapers.previous_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">Previous</a>
      </li>
  {% endif %}
  
  {% for num in newspapers.paginator.page_range %}
      <li class="page-item {% if newspapers.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">{{ num }}</a>
      </li>
  {% endfor %}
  
  {% if newspapers.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ newspapers.next_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ newspapers.paginator.num_pages }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">Last</a>
      </li>
    {% endif %}
  </ul>
</nav>
